<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="POST" action="/">
        Your Name<input type="text" name="myName" /><br />
        Room Name<input type="text" name="roomName" /><br />
        <input type="submit" value="送信">
    </form>
  </body>
</html>